<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPrincipal">

<head>
<meta charset="UTF-8" />
<title>Contato</title>
</head>

<section layout:fragment="content">

<div class="row">

	<!-- Page content holder -->
	<div class="page-content p-5" id="content">


		<!-- Demo content -->
		<h2 class="display-4 text-white">//contato</h2>
		<p class="lead text-white mb-0">Aqui estão os principais meios
			onde você pode entrar em contato comigo.</p>

		<div class="separator"></div>

		<div class="row">
			
			<div class="col-md-3">
				<a href="https://wa.me/5511948726385"> <img
					src="img/whats.png"
					width="175" height="175" alt="..." class="rounded-circle media-object img-fluid">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.linkedin.com/in/leandro-sacchi-27644788/"
					> <img
					src="img/linkedin.png"
					width="175" height="175" alt="..." class="rounded-circle media-object img-fluid">
				</a>
			</div>
			<div class="col-md-3">
				<a href="mailto:lpsacchi@gmail.com"> <img
					src="img/mail.png"
					width="175" height="175" alt="..." class="rounded-circle media-object img-fluid">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.facebook.com/leandro.sacchi">
					<img
					src="img/face.png"  class="rounded-circle media-object img-fluid"
					width="175" height="175" alt="..." >
				</a>
			</div>
		

		</div>
	</div>

</div>
<!-- End demo content -->
</section>
</html>