<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPrincipal">

<head>
<meta charset="UTF-8" />
<title>Projetos</title>
</head>

<section layout:fragment="content">

	<!-- Page content holder -->
	<div class="page-content p-5" id="content">
		<!-- Demo content -->
		<h2 class="display-4 text-white">//projetos</h2>
		<p class="lead text-white mb-0">Você pode conferir os meus
			projetos em desenvolvimento no meu GitHub.</p>

		<div class="separator"></div>
		<div align="center">
			<div class="col-md">
				<a href="https://github.com/leandro-gft"> <img
					src="img/github.png"
					width="200" height="200" alt="..."
					class="rounded-circle media-object img-fluid">
				</a>
			</div>
		</div>

	</div>
	<!-- End demo content -->


</section>
</html>